
#main-wrapper {
 height: calc(100vh * 2 - 50px);
 .btn-nav-2 { 
  cursor: pointer;
 }
 .page {
  height: 100vh;
  background: #eee;

 }
  .page-wrapper{
    width: 600px;
    position: absolute;
    margin: auto;
    top: 50%;
    margin-top: -285px;
    left: 50%;
    margin-left: -300px;
    #logo {
      width: 400px;
      position: relative;
      margin: auto;
      padding-top: 50px;
    }
    .text{
      font-size: 18px;
      text-align: center;
      position: relative;
      .title {
        font-size: 28px;
      }
    }
  }
  #page-2 {

  }


}


.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.11111rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
    font-size: 0.88889rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #FFFFFF;
    transition: background-color 300ms ease-out;
}

.item {
  opacity: 0;
   transition:all 0.5s ease;
  &.show {
    opacity: 1;
  }
}